.speakers {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.speakers h2 {
  color: #2c3e50;
  margin-bottom: 20px;
  font-size: 1.8em;
  text-align: center;
}

.speakers ul {
  list-style: none;
  padding: 0;
}

.speakers li {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.speakers li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.speakers li:last-child {
  border-bottom: none;
}

.speakers img {
    width: 200px;
  margin-right: 20px;
}

.speaker-info {
  flex: 1;
}

.speakers h3 {
  color: #3498db;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.speakers p {
  color: #7f8c8d;
  font-size: 1.1em;
}